-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: bd_galeria_comercial
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `accion` varchar(30) NOT NULL,
  `detalle` varchar(500) DEFAULT NULL,
  `entidad` varchar(50) NOT NULL,
  `entidad_id` bigint DEFAULT NULL,
  `fecha` datetime(6) NOT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_auditoria_entidad` (`entidad`),
  KEY `idx_auditoria_usuario` (`usuario_id`),
  CONSTRAINT `FKj0mvp43e8kl8ec92f9u0q46g9` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bancos`
--

DROP TABLE IF EXISTS `bancos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bancos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cci` varchar(255) DEFAULT NULL,
  `moneda` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `numero_cuenta` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `comprobantes_egreso`
--

DROP TABLE IF EXISTS `comprobantes_egreso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comprobantes_egreso` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `estado` varchar(255) DEFAULT NULL,
  `fecha_emision` date DEFAULT NULL,
  `monto` decimal(38,2) DEFAULT NULL,
  `numero` varchar(255) DEFAULT NULL,
  `egreso_id` bigint NOT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKakdv55noyrchvhhqm21tphgmo` (`egreso_id`),
  KEY `FKqd3sruu78scicsfrpu6o6j0nk` (`usuario_id`),
  CONSTRAINT `FKakdv55noyrchvhhqm21tphgmo` FOREIGN KEY (`egreso_id`) REFERENCES `egresos` (`id`),
  CONSTRAINT `FKqd3sruu78scicsfrpu6o6j0nk` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `correlativos`
--

DROP TABLE IF EXISTS `correlativos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `correlativos` (
  `tipo` varchar(255) NOT NULL,
  `ultimo_numero` bigint DEFAULT NULL,
  PRIMARY KEY (`tipo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cuentas_cobrar`
--

DROP TABLE IF EXISTS `cuentas_cobrar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cuentas_cobrar` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `estado` varchar(12) DEFAULT NULL,
  `fecha_generacion` datetime(6) DEFAULT NULL,
  `lectura_final` decimal(38,2) DEFAULT NULL,
  `lectura_inicial` decimal(38,2) DEFAULT NULL,
  `monto` decimal(38,2) NOT NULL,
  `periodo` varchar(7) NOT NULL,
  `puesto_id` bigint DEFAULT NULL,
  `servicio_id` bigint NOT NULL,
  `socio_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_cxc_estado` (`estado`),
  KEY `idx_cxc_periodo` (`periodo`),
  KEY `FK4n1s47ofq9v9cgx5aefs3rvex` (`puesto_id`),
  KEY `FK83olfbqbn4oj0tur73udoqvrn` (`servicio_id`),
  KEY `FKhgcplhc03u37utulw6tqhsqyu` (`socio_id`),
  CONSTRAINT `FK4n1s47ofq9v9cgx5aefs3rvex` FOREIGN KEY (`puesto_id`) REFERENCES `puestos` (`id`),
  CONSTRAINT `FK83olfbqbn4oj0tur73udoqvrn` FOREIGN KEY (`servicio_id`) REFERENCES `servicios` (`id`),
  CONSTRAINT `FKhgcplhc03u37utulw6tqhsqyu` FOREIGN KEY (`socio_id`) REFERENCES `socios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `egresos`
--

DROP TABLE IF EXISTS `egresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `egresos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `categoria` varchar(255) DEFAULT NULL,
  `correlativo` bigint DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  `igv` decimal(38,2) DEFAULT NULL,
  `motivo` varchar(255) DEFAULT NULL,
  `proveedor` varchar(255) DEFAULT NULL,
  `subtotal` decimal(38,2) DEFAULT NULL,
  `tipo` varchar(255) DEFAULT NULL,
  `total` decimal(38,2) DEFAULT NULL,
  `banco_id` bigint DEFAULT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK2mf2j81n982you7olklh6jiqn` (`tipo`,`correlativo`),
  KEY `idx_egresos_fecha` (`fecha`),
  KEY `idx_egresos_categoria` (`categoria`),
  KEY `FK1abe84b2wj1uey2aiqj319ac8` (`banco_id`),
  KEY `FK3p7dd7lcks9pwjcfmujw1wjvc` (`usuario_id`),
  CONSTRAINT `FK1abe84b2wj1uey2aiqj319ac8` FOREIGN KEY (`banco_id`) REFERENCES `bancos` (`id`),
  CONSTRAINT `FK3p7dd7lcks9pwjcfmujw1wjvc` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `giros`
--

DROP TABLE IF EXISTS `giros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `giros` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) DEFAULT NULL,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `puestos`
--

DROP TABLE IF EXISTS `puestos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `puestos` (
  `id` bigint NOT NULL,
  `inquilino_documento` varchar(255) DEFAULT NULL,
  `inquilino_nombre` varchar(255) DEFAULT NULL,
  `numero` varchar(255) DEFAULT NULL,
  `vigencia_fin` date DEFAULT NULL,
  `vigencia_inicio` date DEFAULT NULL,
  `giro_id` bigint NOT NULL,
  `socio_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_puestos_numero` (`numero`),
  KEY `FK6b4hm3x679qwrr61d4gmp3qnm` (`giro_id`),
  KEY `FKirlehqc5j83lkfuopya0o60sc` (`socio_id`),
  CONSTRAINT `FK6b4hm3x679qwrr61d4gmp3qnm` FOREIGN KEY (`giro_id`) REFERENCES `giros` (`id`),
  CONSTRAINT `FKirlehqc5j83lkfuopya0o60sc` FOREIGN KEY (`socio_id`) REFERENCES `socios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `puestos_seq`
--

DROP TABLE IF EXISTS `puestos_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `puestos_seq` (
  `next_val` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recibos`
--

DROP TABLE IF EXISTS `recibos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recibos` (
  `id` bigint NOT NULL,
  `categoria` varchar(255) DEFAULT NULL,
  `concepto` varchar(255) DEFAULT NULL,
  `correlativo` bigint DEFAULT NULL,
  `depositante` varchar(255) DEFAULT NULL,
  `fecha` datetime(6) DEFAULT NULL,
  `fecha_deposito` date DEFAULT NULL,
  `monto` decimal(38,2) DEFAULT NULL,
  `tipo` varchar(255) DEFAULT NULL,
  `banco_id` bigint DEFAULT NULL,
  `puesto_id` bigint DEFAULT NULL,
  `socio_id` bigint DEFAULT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK4gfentqyub4j5l1qo9ls7luos` (`tipo`,`correlativo`),
  KEY `idx_recibos_tipo_fecha` (`tipo`,`fecha`),
  KEY `FKimom2545vktcxwiepasf4f99s` (`banco_id`),
  KEY `FK26vsoxx9gxv1nwi0ol7gy2lhr` (`puesto_id`),
  KEY `FKtflqiorj3kbptm6rvct1evkeg` (`socio_id`),
  KEY `FKs2if210hfeu3tpa2dviadcaao` (`usuario_id`),
  CONSTRAINT `FK26vsoxx9gxv1nwi0ol7gy2lhr` FOREIGN KEY (`puesto_id`) REFERENCES `puestos` (`id`),
  CONSTRAINT `FKimom2545vktcxwiepasf4f99s` FOREIGN KEY (`banco_id`) REFERENCES `bancos` (`id`),
  CONSTRAINT `FKs2if210hfeu3tpa2dviadcaao` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `FKtflqiorj3kbptm6rvct1evkeg` FOREIGN KEY (`socio_id`) REFERENCES `socios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recibos_seq`
--

DROP TABLE IF EXISTS `recibos_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recibos_seq` (
  `next_val` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `servicios`
--

DROP TABLE IF EXISTS `servicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicios` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `costo` double DEFAULT NULL,
  `costo_unitario` decimal(38,2) DEFAULT NULL,
  `destino_cargo` varchar(255) DEFAULT NULL,
  `estado` bit(1) NOT NULL,
  `moneda` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `recurrencia` varchar(255) DEFAULT NULL,
  `tipo_costo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `socios`
--

DROP TABLE IF EXISTS `socios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `socios` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `accion` varchar(255) DEFAULT NULL,
  `apellidos` varchar(255) DEFAULT NULL,
  `codigo` varchar(255) DEFAULT NULL,
  `etapa` varchar(255) DEFAULT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_socios_nombre_apellidos` (`nombre`,`apellidos`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `activo` bit(1) NOT NULL,
  `apellidos` varchar(255) DEFAULT NULL,
  `nombres` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `rol` varchar(255) DEFAULT NULL,
  `usuario` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK3m5n1w5trapxlbo2s42ugwdmd` (`usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-16 23:45:41
